<!-- <p>shop-signup works!</p> -->


<!-- <div class="loader">
<div class="d-table">
<div class="d-table-cell">
<div class="pre-box-one">
<div class="pre-box-two"></div>
</div>
</div>
</div>
</div> -->


<div class="user-form-area" style="margin-bottom: 200px;">
    <div class="container-fluid p-0">
    <div class="row m-0">
    <div class="col-lg-6 p-0">
    <div class="user-img">
    <img src="assets/img/user-form-bg.jpg" alt="User">
    </div>
    </div>
    <div class="col-lg-6 p-0">
    <div class="user-content">
    <div class="d-table">
    <div class="d-table-cell">
    <div class="user-content-inner">
    <div class="top">
    <a href="index.html">
    <img src="assets/img/logo.png" alt="Logo">
    </a>
    <h2>Sign Up</h2>
    </div>
    <form novalidate #userSignupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
    <input type="text" class="form-control" name="name" [(ngModel)]="user.name"  placeholder="Name">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="number" class="form-control" name="phone" [(ngModel)]="user.phone" placeholder="Mobile number">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email">
    </div>
     </div>
    <div class="col-lg-6">
    <div class="form-group">
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password">
    </div>
    </div>
    <div class="col-lg-12">
        <p *ngIf = "errData">{{errData.error}}</p>
    </div>
    <div class="col-lg-12">
    <button type="submit" class="btn common-btn">Sign Up</button>
    </div>
    </div>
    </form>
    <div class="bottom">
    <p>Already created account? <a href="sign-in.html">Sign In</a></p>
    <h4>OR</h4>
    <ul>
    <li>
    <a href="#" target="_blank">
    <i class="icofont-facebook"></i>
    Connect with Facebook
    </a>
    </li>
    <li>
    <a href="#" target="_blank">
    <i class="icofont-google-plus"></i>
    Connect with Google
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="go-top" >
    <i class="icofont-arrow-up"></i>
    <i class="icofont-arrow-up"></i>
    </div>
    
    
    